@model IEnumerable<CareerCloud.Pocos.ApplicantEducationPoco>

@{
    ViewData["Title"] = "Applicant Education";
}

    <h1>Applicant Education</h1>

<p>
    <a asp-controller="ApplicantEducation" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantProfiles)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateDiploma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionPercent)
            </th>
           
            
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantProfiles.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateDiploma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionPercent)
            </td>


            <td>
                <a asp-controller="ApplicantEducation" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="ApplicantEducation" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="ApplicantEducation" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
