@model IEnumerable<CareerCloud.Pocos.ApplicantProfilePoco>

@{
    ViewData["Title"] = "Applicant Profile";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Security Login
            </th>

            <th>Salary | Rate
                @* 
                @Html.DisplayNameFor(model => model.CurrentSalary)
                @Html.DisplayNameFor(model => model.CurrentRate)
                *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
                       
            <th> Address
                @* @Html.DisplayNameFor(model => model.Street)
                @Html.DisplayNameFor(model => model.City)
                @Html.DisplayNameFor(model => model.Province)
                @Html.DisplayNameFor(model => model.PostalCode)
                @Html.DisplayNameFor(model => model.SystemCountryCodes) *@
            </th>

            <th>
                Options
            </th>
            <th>
                Details
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityLogins.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSalary) | @Html.DisplayFor(modelItem => item.CurrentRate)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Street)<br />
                @Html.DisplayFor(modelItem => item.City)
                @Html.DisplayFor(modelItem => item.PostalCode)<br />
                @Html.DisplayFor(modelItem => item.Province)
                @Html.DisplayFor(modelItem => item.SystemCountryCodes.Code)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a asp-controller="ApplicantJobApplication" asp-action="Index" asp-route-id="@item.Id">Job Application</a> |
                <a asp-controller="ApplicantWorkHistory" asp-action="Index" asp-route-id="@item.Id">Work History</a> |
                <a asp-controller="ApplicantResume" asp-action="Index" asp-route-id="@item.Id">Resume</a> |
                <a asp-controller="ApplicantSkills" asp-action="Index" asp-route-id="@item.Id">Skills</a> |
                <a asp-controller="ApplicantEducation" asp-action="Index" asp-route-id="@item.Id">Education</a>
            </td>
        </tr>
}
    </tbody>
</table>
